<div class="home-page">
  
  <!-- HERO -->
  <section class="hero">
    <!-- RADAR -->
    <div class="radar-container">
      <video autoplay muted loop playsinline class="hud-video">
        <source src="assets/13161043_3840_2160_30fps.mp4" type="video/mp4" />
      </video>
    </div>

    <!-- TEXTO -->
    <div class="hero-text">
      <p>SIGNAL DETECTED...</p>

      <h1>GLITCH</h1>

      <h2>Explore the Universe of Sci-Fi</h2>

      <p class="description">
        Discover dystopias, artificial intelligence, space travel and alternate worlds in an
        immersive visual experience created for science fiction fans.
      </p>
    </div>

    
  </section>
<footer class="footer">

  <div class="footer-line"></div>

  <div class="footer-content">

    <div class="footer-left">
      <p><span>Email:</span> glitchstream@gmail.com</p>
      <p><span>Phone:</span> +44 7700 123456</p>
    </div>

    <div class="footer-right">
      <a href="https://www.facebook.com/login">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://www.instagram.com/accounts/login/">
        <i class="fab fa-instagram"></i>
      </a>

      <a href="https://www.tiktok.com/login">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>

  </div>

</footer>

</div>
