<div class="home-page">
  <!-- NAVBAR -->
  <header class="navbar">
    <div class="logo">
      <img src="https://i.pinimg.com/1200x/fe/5f/16/fe5f160b50bcf8d453a6952d8dff204b.jpg" alt="logo" />

      <div>
        <h2>Neural Stream Active</h2>
      </div>
    </div>

    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/movies">Movies</a>
      <a routerLink="/series">Series</a>
      <a routerLink="/favorites">Favorites</a>
      <a routerLink="/login" class="login-btn">Login/Register</a>
    </nav>
  </header>

  <!-- HERO -->
  <section class="hero">
    <!-- RADAR -->
    <div class="radar-container">
      <video autoplay muted loop playsinline class="hud-video">
        <source src="assets/13161043_3840_2160_30fps.mp4" type="video/mp4" />
      </video>
    </div>

    <!-- TEXTO -->
    <div class="hero-text">
      <p>SIGNAL DETECTED...</p>

      <h1>GLITCH</h1>

      <h2>Explore the Universe of Sci-Fi</h2>

      <p class="description">
        Discover dystopias, artificial intelligence, space travel and alternate worlds in an
        immersive visual experience created for science fiction fans.
      </p>
    </div>
  </section>
</div>
