<div class="movies-page">
  <header class="navbar">
    <div class="logo">
      <img
        src="https://i.pinimg.com/1200x/fe/5f/16/fe5f160b50bcf8d453a6952d8dff204b.jpg"
        alt="Logo"
        class="logo-image"
      />
      <h2>Neural Stream Active</h2>
    </div>

    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/movies">Movies</a>
      <a routerLink="/series">Series</a>
      <a routerLink="/favorites">Favorites</a>
      <a routerLink="/login" class="login-btn">Login/Register</a>
    </nav>
  </header>

  <section class="featured">
    <div class="side-panel">
      <h2>{{ selectedMovie.title }}</h2>
      <p class="summary">{{ selectedMovie.summary }}</p>
    </div>

    <div class="main-poster">
      <iframe
        [src]="sanitizeUrl(selectedMovie.trailer)"
        title="Movie Trailer"
        frameborder="0"
        allowfullscreen
      >
      </iframe>
    </div>

    <div class="details-panel">
      <p>Genre: {{ selectedMovie.genre }}</p>
      <p>Year: {{ selectedMovie.year }}</p>
      <p>Duration: {{ selectedMovie.duration }}</p>
      <p>
        Rating: {{ selectedMovie.rating }}
        {{ getStars(selectedMovie.rating) }}
      </p>
    </div>
  </section>

  <div class="movie-row">
    <button
      class="movie-card"
      *ngFor="let movie of movies"
      (click)="selectMovie(movie)"
      [class.active]="movie === selectedMovie"
    >
      <img [src]="movie.image" [alt]="movie.title" />
      <span>{{ movie.title }}</span>
    </button>
  </div>
</div>
